<div class="container">

<p class="my-3 text-center text-uppercase">
  <strong><%= @forum.topic %></strong> -
  <%= @forum.question %>
</p>

<%= render @forum.comments %>
<br>
<%= render 'comments/form' %>

</div>