<div class="container">
  <p class="text-justify my-3">Si quieres hacer parte del cambio, éstas decepcionado de la política tradicional,
  tienes vocación de servicio y quieres hacer parte de la historia de Colombia, actívate ya en nuestra red y podemos ayudarte a crear tu video y promocionarlo.</p>
</div>

<div class="container text-justify">
  <div class="row">
    <div class="col-lg-6 col-md-6 text-center">
      <div class="feature">
        <h3 class="text-uppercase">Veedor</h3>
        <%= image_tag "veedor.png" %>
          <p class="text-muted m-b-0">Denuncia irregularidades, manifiesta tus inconformidades o conductas sospechosas en tú  barrio, trabajo, ciudad</p>
      </div>
    </div> 
    <div class="col-lg-6 col-md-6 text-center">
      <div class="feature">
        <h3 class="text-uppercase">Investigador</h3>
        <%= image_tag "investigador.png" %>
        <p class="text-muted m-b-0">Aporta una publicación o estudio que permita mejorar la democracia y la convivencia </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 text-center">
      <div class="feature">
        <h3 class="text-uppercase">Gestor</h3>
        <%= image_tag "gestor.png" %>
        <p class="text-muted m-b-0">Dona tiempo o dinero para hacer realidad eventos y proyectos de la plataforma</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 text-center">
      <div class="feature">
        <h3 class="text-uppercase">Seguidor</h3>
        <%= image_tag "seguidor.png" %>
        <p class="text-muted m-b-0">Participa en los debates para construir políticas públicas y ayuda a viralizar nuestros contenidos en redes sociales</p>
      </div>
    </div>
  </div>
</div>