
<div class="container text-justify">
  <div class="row">
    <div class="col-lg-6 col-md-6 text-center">
      <div class="feature">
        <h3 class="text-uppercase">Veedor</h3>
        <%= image_tag "veedor.png" %>
          <p class="text-muted m-b-0">Denuncia irregularidades, manifiesta tus inconformidades o conductas sospechosas en tú  barrio, trabajo, ciudad</p>
      </div>
    </div> 
    <div class="col-lg-6 col-md-6 text-center">
      <div class="feature">
        <h3 class="text-uppercase">Voluntario</h3>
        <%= image_tag "voluntario.png" %>
        <p class="text-muted m-b-0">Adelanta diferentes tipos de acciones tales como investigación, actuación, acciones en calle, publicidad, difusion en redes sociales, organización, logística, entre otros.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 text-center">
      <div class="feature">
        <h3 class="text-uppercase">Gestor</h3>
        <%= image_tag "gestor.png" %>
        <p class="text-muted m-b-0">Gestiona diferentes tipos de recurso para hacer sostenible el proyecto. Somos cuidadosos de lo que recibimos y de quién lo recibimos, ya que no vamos a entregar nuestra autonomía, ética y coherencia. Recibimos dinero o recursos materiales.</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 text-center">
      <div class="feature">
        <h3 class="text-uppercase">Transformador</h3>
        <%= image_tag "transformador.png" %>
        <p class="text-muted m-b-0">Participa en los debates para construir políticas públicas y a ser multiplicador en diferentes ciudades. Lidera el cambio en tu casa, barrio, pueblo, ciudad.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <p class="text-justify my-3">Si quieres hacer parte del cambio, estás decepcionado de la política tradicional, tienes vocación de servicio y quieres hacer parte de la historia de Colombia, actívate ya en nuestra red y PODEMOS AYUDARTE A CREAR TU VIDEO Y PROMOCIONARLO.</p>
</div>