<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 text-justify">
      <p class="my-2">Si quieres hacer parte del cambio, estás decepcionado de la política tradicional y tienes vocación de servicio, <u>actívate en nuestra red</u></p>
      <ul class="list-unstyled">
        <li class="media">
      		<%= image_tag "veedor.png", size: "64", class:"d-flex mr-3" %>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Veedor</h5>
            <p>Denuncia irregularidades, manifiesta inconformidades o conductas sospechosas de tu comunidad o trabajo</p>
          </div>
        </li>
        <li class="media my-4">
          <%= image_tag "voluntario.png", size: "64", class:"d-flex mr-3" %>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Voluntario</h5>
            <p>Adelanta diferentes tipos de acciones de investigación, difusion en redes, logística, entre otros</p>
          </div>
        </li>
        <li class="media">
          <%= image_tag "gestor.png", size: "64", class:"d-flex mr-3" %>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Gestor</h5>
            <p>Administra recursos para hacer sostenible el proyecto, también puedes donar dinero o materiales</p>
          </div>
        </li>
         <li class="media my-4">
          <%= image_tag "transformador.png", size: "64", class:"d-flex mr-3" %>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Transformador</h5>
            <p>Participa en debates para construir políticas públicas y ser multiplicador en diferentes ciudades</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-12 col-lg-6">
    </div>
  </div>
</div>