<div class="container text-justify">
  
<h1 class="text-center">SEAMOS</h1>
<p>ACTUEMOS es un instrumento de encuentro, diálogo y sobre todo de poder de transformación de Colombia que aglutina a aquellos que comparten en pensamiento y en corazón el siguiente DIAGNÓSTICO:</p>
<ol>
  <li><p>Hemos estado gobernandos por unos políticos profesionales, de todas las tendencias y partidos, cuyo interés no es el bienestar de la gente sino su propio interés personal. Roban de todas las formas posibles y se reparten el poder entre ellos mismos. Son políticos profesionales que no comparten, no entienden ni viven los problemas, sueños y anhelos de la gente de a pie. </li>
  <li><p>Muchas gente, vecinos, familiares, amigos, compañeros de trabajo, se la pasan quejando de su realidad o de tales políticos pero no hacen nada para poderlo cambiar. Algunos por indiferencia al preferir dedicarse a su propia vida y de los suyos, sin importarle lo que ocurre alrededor; otros porque alguna vez tuvieron ilusión en la política y fueron defraudados y otros porque no encuentran la forma de canalizar su energía y anhelo de cambio.</p></li>
  <li><p>En definitiva, Colombia adolesce de dos GRANDES MALES que terminan siendo las dos caras de una misma moneda: corrupción de los que mandan e indiferencia o impotencia de los que obedecen.</p></li>
</ol>

<p>Ante tal diagnóstico, ACTUEMOS se presenta como un instrumento de terapia colectiva que se propone como horizonte:</p>
<ol>
  <li><p>Ser una plataforma de aquellos que cansados e indignados de los políticos profesionales de siempre, quieran cambiarlos por gente honesta y gente que piense realmente en sus problemas.</p></li>
  <li><p>Ser un intrumento para aquellos que aún no han encontrado un espacio donde puedan canalizar sus sueños, sus demandas, sus ganas de cambiar a Colombia.</p></li>
  <li><p>Ser una red virtual y no virtual de aquellos que ya están haciendo algo por su país, ya sea de manera individual o grupal pero es conciente que solo en colectivo y en hermandad se puede llegar más lejos. ACTUEMOS es el espacio para juntarnos los que aún no nos conocemos. </p></li>
  <li><p>Ser un mensaje para cuestionar e invitar al indiferente, de activación de ciudadanía. Es el momento de estar juntos. A problemas colectivos, soluciones colectivas.</p></li>
</ol>

<p>Es por eso que ACTUEMOS es un hacer continuo de la gente para la gente. No es un aparato cerrado, ni desconoce que hay muchos y muchas intentando hacer algo por su país. Más bien, es el intento de agrupar y canalizar toda esa energía ciudadana insatisfecha. </p>
</div>


