<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="my-3 text-center">INSTRUMENTOS PARA EL PROTAGONISMO CIUDADANO</strong></h3>
      <p class="text-justify">Necesitamos un conjunto de  técnicas, de herramientas, de instrumentos concretos que nos posibiliten ACTUAR  al asumir un protagonismo ciudadano desde la propia cotidianidad, sacudiéndonos de la indiferencia y generando conciencia colectiva desvelando el funcionamiento de los poderosos de nuestro país.
    </div>    
  </div>

<div class="card-group">
  <div class="card">
    <%= image_tag "arbol-poder.jpg", class:"card-img-top" %>
    <div class="card-block">
      <h4 class="card-title">Árbol de Poder - Los mismos de siempre</h4>
      <%= link_to "Descargar", "https://www.dropbox.com/s/qn0alrsxsypurva/mapa-poder.jpg?dl=1", class:"btn btn-primary btn-block" %>
    </div>
  </div>
  <div class="card">
    <%= image_tag "mapa-embajadas.jpg", class:"card-img-top" %>
    <div class="card-block">
      <h4 class="card-title">Mapa de embajadas y consulados</h4>
      <%= link_to "Descargar", "https://www.dropbox.com/s/9w5x2xscghmvwrc/Mapa%20de%20embajadas%20y%20consulados.pdf?dl=1", class:"btn btn-warning btn-block" %>
    </div>
  </div>
</div>