<%= render "layouts/welcome" %>
<%= render "layouts/actuemos" %>
<div id="forum" class="container-fluid">
  <%# render "layouts/video1" %>
  <%= render "layouts/video2" %>
  <%= render "layouts/video3" %>
</div>