<%= render "layouts/welcome" %>
<%= render "layouts/actuemos" %>
<div class="container-fluid">
  <%# render "layouts/vcarousel" %>
  <%# render "layouts/video1" %>
  <%= render "layouts/video2" %>
  <%= render "layouts/video3" %>
</div>
