<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <br>
      <h1 class="m-t-0 text-primary">SEAMOS</h1>
      <hr class="accent">
    </div>
  </div>
</div>

<div class="container text-justify">

<p>ACTUEMOS es una plataforma de encuentro, diálogo y empoderamiento de los ciudadanos que comparten en pensamiento y en corazón un país mejor.</p>

<p>Somos ciudadanos, comunes y corrientes, sin grandes apellidos, nos transportamos en bus o bicicleta, nos quejamos de la inseguridad, mamados de los políticos de siempre y de partidos que no entienden ni viven los problemas, sueños y anhelos de la gente de a pie y cuyo interés no es el bienestar colectivo sino su propio interés personal.</p>

<p>Esa es la razón por la que queremos solucionar dos GRANDES MALES de Colombia que terminan siendo las dos caras de una misma moneda, la corrupción de los que mandan y la indiferencia o impotencia de los que obedecen.</p>

<p>Si tienes vocación de servicio, acompáñanos en este proyecto y ayuda a canalizar toda esa energía ciudadana insatisfecha. </p>


</div>


