<div class="container text-justify">
  <br>
  <p>Nuestros sueños sobre el país desbordan esta realidad que los políticos profesionales nos han creado y ofrecido, 
  vivimos en una Colombia, cerrada, hostil, intolerante y excluyente. Esta es la oportunidad de que SOÑEMOS juntos y construyamos las mejores propuestas de la gente para la gente. </p>

  <div class="row">
    <div class="col-md-2">
      <%= image_tag "woman1.jpg", class:"img-fluid" %>
    </div>
    <div class="col-md-8">
      <h5>¿Que propones para aumentar la estabilidad económica de las familias?</h5>
      <h6>hace 17 horas por Eneida Olivella</h6>
    </div>  
    <div class="col-md-2">
       <a href="#" class="btn btn-primary">Participar</a>
    </div>
  </div>
</div>