html,
body {
  height: 100%;
}

h1, h2, h3, nav {
  font-family: 'Handlee', cursive;
}

#cover h2{
  font-size: 2.6em;
}

p {
  font-size: 1.2em;
}

img {
   max-width: 100%;
}

#cover {
  background:  linear-gradient(-255deg, rgba(255, 255, 255, 0.5) 0%, rgba(41, 43, 44, 0.5) 50%), 
  image-url('actuemos-bg.jpg') center top no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
}

.overlay{
  background-color: rgba(40, 53, 147, 1);
}

#navbarTogglerDemo02 {
  a {
    color: white;
    font-size: 1.2em;
  }
}

.nosotros-img {
  background: image-url('act.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

#forum {
  background-image: image-url("act.png");
}