html,
body {
  height: 100%;
}

p {
  font-size: 1.2em;
}

img {
   max-width: 100%;
}

#cover {
  background:  linear-gradient(-255deg, rgba(255, 255, 255, 0.5) 0%, rgba(41, 43, 44, 0.5) 50%), 
  image-url('bg-1.jpg') center top no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
}

.overlay{
  background-color: rgba(40, 53, 147, 1);
}

#navbarTogglerDemo02 {
  a {
    color: white;
  }
}

.seamos-img {
  background: image-url('ciudadano2.png');
  background-repeat: no-repeat;
  background-size: cover;
}