<br>
<footer>
  <div class="row">
    <div class="col text-center">
    <address>
      Copyright © 2017 - Actuemos Colombia<br>
      <abbr title="Phone">P:</abbr> (095) 5736553, Valledupar - Cesar (Colombia)<br>
    </address>
    </div>
  </div>
</footer>

