<br>
<hr class="my-3">
<br>
<div class="clearfix"></div>
<footer class="text-center">
  <div class="container-fluid">
    <div class="row footer-above">
      <div class="col-12">
      	<ul class="list-unstyled list-inline footer-below">
          <li class="list-inline-item"> <%=link_to_unless_current "Nosotros", root_path %></li> 
          <li class="list-inline-item"> <%=link_to_unless_current "Política de Privacidad", root_path %></li>
          <li class="list-inline-item"> <%=link_to_unless_current "Condiciones del Servicio", root_path %></li>
          <li class="list-inline-item"> <%=link_to_unless_current "Preguntas Frecuentes", root_path %></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12"> 
        <p><h5>Copyright © 2017 - Actuemos Colombia │ Derechos Reservados</h5></p>
      </div>
      <div class="col-12">
        <ul class="social list-unstyled list-inline">
         	<li class="list-inline-item"> <a href="https://twitter.com/yalexperience"> <i class="fa fa-twitter fa-3x" data-toggle="tooltip" data-placement="bottom" title="Twitter"> </i> </a></li>
         	<li class="list-inline-item"> <a href="https://www.facebook.com/yalexperience/"> <i class="fa fa-facebook fa-3x" data-toggle="tooltip" data-placement="bottom" title="Facebook"> </i> </a></li>
          <li class="list-inline-item"> <a href="#"> <i class="fa fa-skype fa-3x" data-toggle="tooltip" data-placement="bottom" title="Skype"></i> </a></li>
          <li class="list-inline-item"> <a href="https://www.linkedin.com/company/yalex"> <i class="fa fa-linkedin fa-3x" data-toggle="tooltip" data-placement="bottom" title="Linkedin"></i> </a></li>
          <li class="list-inline-item"> <a href="mailto:confianza@yalex.co"> <i class="fa fa-envelope fa-3x" data-toggle="tooltip" data-placement="bottom" title="e-mail"></i> </a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>