<br>
<div class="container">
  <div class="row">
    <div class="col">
      <p class="text-justify blockquote">Estamos convencidos que el cambio es posible, y es el momento ideal para que juntos construyamos iniciativas sociales sostenibles al servicio de todos.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="card card-outline-primary">
        <div class="card-block">
          <h4 class="card-title">Participación Ciudadana</h4>
          <p class="card-text">Ayuda a diseñar, gestionar y evaluar las políticas públicas del país</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card card-outline-success">
        <div class="card-block">
          <h4 class="card-title">Educación para la Vida</h4>
          <p class="card-text">Dona una hora de tu tiempo para fortalecer el emprendimiento</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card card-outline-warning">
        <div class="card-block">
          <h4 class="card-title">Enfoque de Género</h4>
          <p class="card-text">Decide cambios para la equidad de las mujeres</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card card-outline-danger">
        <div class="card-block">
          <h4 class="card-title">Primera Infancia</h4>
          <p class="card-text">Formación de agentes educativos y madres comunitarias</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Productividad y Trabajo</h4>
          <p class="card-text">Haz tus propuestas para mejorar la generación de ingresos</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card card-outline-info">
        <div class="card-block">
          <h4 class="card-title">Tolerancia y Paz</h4>
          <p class="card-text">Fomenta espacios de liderazgo y cultura ciudadana</p>
        </div>
      </div>
    </div>
  </div>
</div>