<section id="newsletter">
  <div class="container"> 
    <div class="row text-center">
      <div class="col-10 offset-1">
        <br>
        <h4>Quiere recibir información de noticias y eventos de ¡Actuemos!</h4>
        <br>
        <div class="form-group">
          <input type="email" class="form-control col-8 offset-2 text-center" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su e-mail">
          <br>
          <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con otra persona.</small>
          <br>
        </div>
      </div>
    </div>
  </div>  
</section>