<div class="row">
  <div class="col">
  	<h3 class="py-5 mb-0 text-center">LA RED ACTÚA</h3>
  </div>
</div> 
<div class="row">
  <div class="col-md-4">
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/rC9Iu5zVGrA?rel=0" allowfullscreen></iframe>
    </div>
	</div>
  <div class="col-md-4">
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/fV4kqDZNSSk?rel=0" allowfullscreen></iframe>
    </div>
	</div>
	<div class="col-md-4">
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/nwJ_ozn37s8?rel=0" allowfullscreen></iframe>
    </div>
	</div>
</div>