<div class="container">
<br>
<div class="row">
	<article class="col">
  	<h2>Video Makers</h2>
  	<p>Nuestro compromiso es y ser치 fortalecer el desarrollo de las comunidades vulnerables y la participaci칩n abierta para una etapa de afianzamiento, renovaci칩n y prosperidad. <button class="btn btn-outline-success">Leer m치s</button></p>
  </article>
</div>
<div>
<br>
<div class="container">
	<div class="row">
    <div class="col-md-4">
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/i07qz_6Mk7g?rel=0" allowfullscreen></iframe>
      </div>
  	</div>
    <div class="col-md-4">
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/GVemTjGu-PA?rel=0" allowfullscreen></iframe>
      </div>
  	</div>
  	<div class="col-md-4">
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/Y5giTuB-lIU?rel=0" allowfullscreen></iframe>
      </div>
  	</div>
  </div>
</div>