<div class="row overlay">
  <div class="col">
	  <h3 class="py-4 mb-0 text-white text-center">Porque vivimos juntos, decidimos juntos</h3>
  </div>
</div> 
<div class="row">
  <div class="col-md-4">
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/rC9Iu5zVGrA?rel=0" allowfullscreen></iframe>
    </div>
	</div>
  <div class="col-md-4">
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/fV4kqDZNSSk?rel=0" allowfullscreen></iframe>
    </div>
	</div>
	<div class="col-md-4">
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/Y5giTuB-lIU?rel=0" allowfullscreen></iframe>
    </div>
	</div>
</div>