<section id="cover" class="overlay">
  <%= video_tag "video-bg.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, id: "background" %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10">
        <h1>VIVIMOS JUNTOS, DECIDIMOS JUNTOS</h1>
        <br>
       <button type="button" class="btn btn-secondary btn-lg">Únete Ya</button>
      </div>
    </div>
  </div>
</section>


