<section id="cover">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10">
        <h1 class="display-4"><strong>es el momento de la gente</strong></h1>
        <h3>vive, decide y apoya la transformación de Colombia </h3>
      </div>
    </div>
  </div>
</section>