<section id="cover">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10">
        <h1 class="display-4"><strong>ES EL MOMENTO DE LA GENTE</strong></h1>
        <h2>vive, decide y apoya la transformación de Colombia </h2>
      </div>
    </div>
  </div>
</section>